{% extends 'store/base.html' %}
{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card bg-dark text-light border-secondary shadow-lg rounded-4 p-4">
                <h3 class="text-warning text-center fw-bold mb-3">አዲስ የይለፍ ቃል ያስገቡ </h3>

                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label text-warning small fw-bold">አድስ የይለፍ ቃል (New Password)</label>
                        <input type="password" name="new_password1" placeholder="አድስ የይለፍ ቃል ያስገቡ" class="form-control bg-black text-light border-secondary rounded-3" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label text-warning small fw-bold">የይለፍ ቃሉን ያረጋግጡ (Confirm Password)</label>
                        <input type="password" name="new_password1" placeholder="የይለፍ ቃሉን እንደገና ያስገቡ" class="form-control bg-black text-light border-secondary rounded-3" required>
                    </div>
                    <button type="submit" class="btn btn-warning w-100 fw-bold rounded-pill py-2">የይለፍ ቃል ቀይር (Change Password)
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content%}