{% extends 'store/base.html'%}
{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card bg-dark text-light border-secondary shadow-lg rounded-4 p-4">
                <h3 class="text-warning text-center fw-bold mb-3"> የይልፍ ቃል መመለሻ</h3>
                <p class="text-muted small text-center mb-4">
                    የተመዘገቡበትን ኢሜይል ያስገቡ። የይልፍ ቃልዎን የሚያስተካክሉበትን ሊንክ እንልክልዎታለን።
                </p>
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label text-warning small fw-bold">ኢሜይል (Email)</label>
                        <input type="email" name="email" placeholder="ኢሜይልዎን ያስገቡ (ምሳሌ: example@gmail.com)" class="form-control bg-black text-light border-seconday  rounded-3" required>
                    </div>
                    <button type="submit" class="btn btn-warning w-100 fw-bold rounded-pill py-2">ሊንክ ላክ (Send Reset Link)</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}